<table>
  <tr>
    <td>Cree Player : </td>
  </tr>
  <tr>
    <td><input #noPlayTxt type="text" /><input type="button" value="Crée" (click)="addPlayer(noPlayTxt.value)" /></td>
  </tr>
  <tr>
    <td>Edition : </td>
  </tr>
  <tr>
    <td>
      <select #selectPlayer *ngIf="players != null; else NoPlayer" (change)="selectPlayerTmp = selectPlayer.value">
        <option *ngFor="let player of players" value="{{player.id}}" >{{player.nom}}</option>
      </select>
      <input *ngIf='isModif' #textModif type="text" placeholder="nouveau nom player" (change)="textModifTmp = textModif.value">
    </td>
    <td *ngIf="players != null">
      <select #selectChoose (change)="isModif = !isModif">
        <option value="d">Delete</option>
        <option value="m">Modification</option>        
      </select>
      <input type="button" value="Validation" (click)="choose(selectChoose.value)" />
    </td>
  </tr>
</table>

<ng-template #NoPlayer>
  Crée un Player...
</ng-template>