<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR -->
        <aside class="col-sm-3">
            <div class="sidebar">
                <app-root-folder></app-root-folder>
            </div>
        </aside>

        <div class="col-sm-9">
            <div class="row">

                <!-- HEADER -->
                <header class="col-sm-12">
                    <div class="header">
                        <!-- Playlist -->
                        <div class="playlist">
                            <a routerLink="/pmp" routerLinkActive="active">Playlist</a>
                        </div>
                        <!-- PLAYER -->
                        <div class="player">
                            <a routerLink="/player" routerLinkActive="active">Player</a>
                        </div>
                        <!-- SPECIAL -->
                        <div class="special">

                        </div>
                    </div>
                </header>

                <!-- SECTION -->
                <section class="col-sm-12">
                    <div class="content">
                        <div class="section">
                            <router-outlet></router-outlet>
                        </div>
                        <div class="folder-img">
                            
                        </div>                   
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <footer class="footer">
                audio
            </footer>
        </div>
    </div>
</div>