/* GENERAL */
.row {
    margin: 0;
}

.container-fluid,
*[class*="col-"] {
    padding: 0;
}



/* HELPER */




/* LAYOUT */
.header,
.content {
    display: flex;
}

.header .player,
.header .playlist,
.header .special {
    display: flex;
    flex-grow: 1;
    height: 20vh;
}

.header .player {
    background-color: purple;
}

.header .playlist {
    background-color: rebeccapurple;
}

.header .special {
    background-color: pink;
}

.sidebar {
    height: 80vh;
    background-color: red; 
}

.section,
.folder-img {
    display: flex;
    flex-grow: 1;
    height: 60vh;
}

.section {
    background-color: green;
    overflow-y: scroll;
}

.folder-img {
    background-color: blue;
}

.footer {
    height: 20vh;
    background-color: yellow;
}







