<table>
  <tr>
    <td *ngFor="let b of breadcrum" style="cursor: pointer;"   
    [routerLink]="['/musique', b.id]" style="cursor: pointer;" (click)="setActualFolderBreadCrum(b)">
      {{b.name}} /
    </td>
  </tr>
</table>
<table border="1px" id="myTable" #myTable>
  <tr *ngFor="let folder of folders">
    <td [routerLink]="['/musique', folder.id]" style="cursor: pointer;" (click)="setActualFolder(folder)">{{folder.name}}/</td>
    <td>
      <app-img-render [img]="folder.imgAlbum"></app-img-render>
    </td>
  </tr>
  <tr *ngFor="let musique of musiques">
    <td><input type="checkbox" id="chk_{{musique.id}}" class="myChkBx"></td>
    <td style="cursor: pointer;" (click)="musiqueId = musique.id">{{musique.titre}}</td>
  </tr>
  <tr>
    <td>
      <input type="button" value="Add" (click)="add()"/>
    </td>
    <td>
      <input type="button" value="Add All" (click)="addAll()"/>
    </td>
    <td>
      <select #playerSelect (change)="playerId = playerSelect.value">
        <option *ngFor="let player of players" value="{{player.id}}" > {{player.nom}}  </option>
      </select>
    </td>  
  </tr>
  <tr>
    <td colspan="3">
      <app-audio [zikId]="musiqueId"></app-audio>
    </td> 
     <td>
      <input type="button" value="Partage" (click)="partage()"/>
    </td>
  </tr>
</table>